body{
    margin: 0px;
    font-family: Tahoma;
    font-size: 20px;
}
#container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 13fr 2fr;
}
#timer{
    text-align: center;
    align-self: center;
    background-color: #27AE60;
    height: 100%;
    width: 100%;
}
#frogs{
    background-color: rgb(18, 131, 65);
    position: relative;
}
#start{
    left: 35%;
    top: 40%;
    width: 280px;   
    font-size: 50px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: yellow;
    padding: 10px;
    position: relative;
}
i{
    position: relative;
}

#buttom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#frogsLeft{
    text-align: center;
    background-color: #27AE60;
    /* margin-top: auto; */
    
}
#gameName{
    
    text-align: center;
    background-color: rgb(25, 134, 170);
    font-size: 35px;;
}
#lvl{
    text-align: center;
    align-self: center;
    background-color: #27AE60;
}